%ol.breadcrumb
  %li
    %a(href="") Categories

.row.marketing

  .col-lg6
    .category
      %h3
        %a(href="/category/JSON") JSON
      %p JSON Parser
    .category
      %h3.category
        %a(href="/category/Network") Network
      %p HTTP
    .category
      %h3.category
        %a(href="/category/TableView") TableView
      %p UITableView

  .col-lg6
    .category
      %h3
        %a(href="/category/JSON") JSON
      %p JSON Parser
    .category
      %h3.category
        %a(href="/category/Network") Network
      %p HTTP
    .category
      %h3.category
        %a(href="/category/TableView") TableView
      %p UITableView
